html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

.mera {

    border-radius: 100%;
    padding: 56px 10px 10px 60px;
    width: 23%;
    margin: 7px;
    background: white none repeat scroll 0% 0%;
    color: #FFF;
    height: 71%;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition:background 0.4s;-moz-transition:background 0.4s;
  
   
}

.beech {
    width: 100%;
    margin: 10px auto;
    
}
#newGame {
    width: 50%;
    background: aquamarine none repeat scroll 0% 0%;
    border-radius: 8px;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
}
#startGame {
    width: 50%;
    background: aquamarine none repeat scroll 0% 0%;
    border-radius: 8px;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
}
#hint {
    width: 50%;
    background: aquamarine none repeat scroll 0% 0%;
    border-radius: 8px;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
}
#high {
    width: 50%;
  
    border-radius: 8px;
    padding: 2px;
    margin-top: 10px;
    font-size: 24px;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow > div {
    position: absolute;
    top:10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}