.img-con {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.demo-card-square.mdl-card {
				  width: 320px;
				  height: 320px;
				  margin: auto;
				}
				.demo-card-square > .mdl-card__title {
				  color: #fff;
				  background:
				    url('../images/me.jpeg') bottom 72% right 42% no-repeat #46B6AC;
				}
.text-con {
	margin: auto;
	min-height: 0px;
}
.text-disp {
	width: 100%;
margin-left: 32%;
}